body{
 font-size: 15px;
 background-color: white;
 background-color: #f9fcfb;
 font-family: sans-serif;
 color: #2b2b28;
}
p{
  line-height: 2;
  color: #cccccc;
}
h3{
  font-family: 'Poppins', sans-serif;
}
img{
position: absolute;
right:10%;
bottom:10%;
}
.top{
  width: 42%;
  text-align: center;
  margin :70px auto;
}
.d4{
  position: relative;

}
.sub{
  margin:20px auto;
  position: relative;
  background-color: white;
border-radius: 2%;
height: 250px;
  width: 26.62%;
padding: 20px;
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.sub1{
  bottom: 25%;
  position: absolute;
  background-color: white;
border-radius: 2%;
height: 250px;
  width: 26.62%;
padding: 20px;
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
 border-top:solid #61f2f5 5px; left:2%;
}
.sub12{
  bottom: 25%;
  position: absolute;
  background-color: white;
border-radius: 2%;
height: 250px;
  width: 26.62%;
padding: 20px;
 box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
 border-top:solid hsl(212, 86%, 64%) 5px;
 right: 2%;
}

@media only screen and (max-width: 800px) {
  .sub{
    margin:20px auto;
    position: relative;
    background-color: white;
  border-radius: 2%;
  height: 200px;
  width: 300px;
  padding: 20px;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .sub1{
position: relative;
bottom: 0;
  margin:20px auto;
  left: 0;
  right: 0;
  height: 200px;
  width: 300px;
  }
  .sub12{
    height: 200px;
    width: 300px;
position: relative;
bottom: 0;
  margin:20px auto;
  left: 0;
  right: 0;
  }
  .top
  {

  width: 75%;
  }
}
