body{
  font-family: 'Inter', sans-serif;
  background-image: url('images/darkmode.png');
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}
.main{
padding: 3% 7%;
}
 /* heading section */
.heading-grid{
  display: grid;
  grid-gap: 20px;
   grid-template-columns: auto auto auto auto;
}
.title{
grid-column: 1 / 2;
}
.switcherdiv{
  justify-self: end;
  padding-top: 22px;
  grid-column: 4 / 5;
}
.switch {
  top:3px;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: hsl(228, 28%, 23%);
}

input:checked + .slider {
  background-image: linear-gradient(to right, hsl(210, 78%, 56%)  ,hsl(230, 22%, 74%));
}

input:focus + .slider {
  box-shadow: 0 0 1px white;
}

input:checked + .slider:before {
    background-color: white;
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Followers section */
.top-grid{
   justify-content: space-around;
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
   grid-template-columns: 23% 23% 23% 23%;

}
.item{
  background-color: #252b43;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}
.whi{
  color: hsl(0, 0%, 100%);
}
.icon-pos{
  position:relative;
  top:5px;

}
.trad-pos{
  position:relative;
  bottom:2px;
}
.dark-tag{
  color:#868fae;
}
.tag-grid{
  display:inline-block;
  margin-left:5px;
  font-size:11px;
}
/* -------- */
/* -------- */
/* -------- */

.bot-title{
font-weight: 700;
font-size:20px;
margin-top:50px;
}
.rounded{
  padding: 0;
  border-top:  5px solid transparent;
  border-radius: 5px;
background-clip: padding-box,border-box;
  background-origin: border-box;
}
.dark{
  background-image: linear-gradient(#252b43,#252b43) ,  linear-gradient(to right ,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}
.light{
  background-image: linear-gradient(#f0f3fa,#f0f3fa) ,  linear-gradient(to right ,hsl(37, 97%, 70%),hsl(329, 70%, 58%));

}
.top-item{
display: grid;
justify-content: space-between;
grid-template-columns: auto auto;
}
.bot{
  grid-template-rows: 120px 120px;
  margin-bottom: 30px;
}
.item1{
  background-color: #252b43;
  text-align: center;
  padding: 15px 15px;
  border-radius: 5px;
}
.dar{
  color: hsl(230, 17%, 14%);
}
.gri{
  color: #868fae;
}
